


/* ---------------------------------
5. EXPERIENCE SECTION
--------------------------------- */

.experience-section{ background: #000000; }

.experience .list > li{ display: block; position: relative; margin-bottom: 10px; }

.experience .list > li > span{ position: relative; padding-left: 20px; }

.experience .list > li span:before{ content: ''; position: absolute; top: 50%; left: 0; height: 10px; 
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #555; }

	


	
/* ---------------------------------
7. EDUCATION SECTION
--------------------------------- */

.education-wrapper{ position: relative; overflow: hidden; text-align: center; }

.education-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: 50%;
	margin-left: -1px; width: 2px; background: #ccc; }

.education-wrapper .education{ width: 50%; clear: both; position: relative; margin-top: -30px; }

.education-wrapper .education:first-child{ margin-top: 0; } 

.education-wrapper .education.left{ float: left; padding-right: 50px; text-align: right; }

.education-wrapper .education.right{ float: right; padding-left: 50px; text-align: left; }

.education-wrapper .education:after{ content:''; position: absolute; top: 8px; width: 16px; 
	height: 16px; border-radius: 10px; z-index: 1;
	box-shadow: 0 0 0 8px rgba(255,171,0, .4); background: #FFAB00; }
	
.education-wrapper .education.left:after{ right: -8px; }

.education-wrapper .education.right:after{ left: -8px; }



/* ---------------------------------
9. SKILLS SECTION
--------------------------------- */

.skills-section .expert{ margin-top: 10px; display: inline-block; padding: 1px 25px 0; 
	border-radius: 5px; background: #FFAB00; color: #fff; }

	
/* LINE PROGRESSBAR */
	
.line-progress{ position: relative; padding-bottom: 25px; }

.line-progress .progressbar-text{ position: absolute; bottom: 0; right: 0; font-size: 1.1em; 
	font-weight: 500; color: #777!important; }

.line-progress .progress-title{ position: absolute; bottom: 0; left: 0; color: #777; }


/* REDIAL PROGRESS SECTION */

.radial-progress-section{ border: 0; position: relative; background-size: cover; 
	z-index: 1; background-image: url(../../images/slider-4-1920x600.jpg); color: #fff; }

.radial-progress-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; 
	left: 0; right: 0; background: rgba(0,0,0, .8); }
	
.radial-progress{ position: relative; max-width: 170px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500; 
	padding-bottom: 25px!important; color: #FFAB00!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; transform: translate(-50%, 15px); color: #fff; }




